<nav class="navbar navbar-light rounded" style="background-color: rgba(240, 185, 133, 0.753)">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/adminvideomanagement"><i class="fas fa-home fa-lg"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/videoregister">Register Video</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/videolist">View Videos</a>
    </li>
  </ul>
</nav>
<div *ngIf="!flag" class="p-3 mb-5 bg-white rounded m-5">
  <h1 style="text-align: center">VIDEO</h1>
</div>
<div class="p-2 mb-3 bg-white rounded m-3">
  <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
</div>
