<div class="row">
  <div class="col card shadow-lg p-3 mb-5 bg-white rounded m-3">
    <h5 class="card-header text-center">Channel Details</h5>
    <div class="m-4">
      <div class="row">
        <div class="col-4">
          <img src="{{channel.assetlocation}}" alt="{{channel.assetlocation}}" style="height:auto; width:100%">
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col">Channel Number :</div>
            <div class="col">{{ channel.channelnumber }}</div>
          </div>
          <div class="row">
            <div class="col"> Channel Name :</div>
            <div class="col">{{ channel.channelname | channelName | uppercase}}</div>
          </div>
          <div class="row">
            <div class="col">Audio Carrier Frequency:</div>
            <div class="col">{{ channel.audiocarrierfrequency}}</div>
          </div>
          <div class="row">
            <div class="col">Video Carrier Frequency :</div>
            <div class="col"> {{ channel.videocarrierfrequency}}</div>
          </div>
          <div class="row">
            <div class="col">Channel Category:</div>
            <div class="col">{{ channel.channelcategory | channelCategory}}</div>
          </div>
          <div class="row">
            <div class="col">Channel Transmission:</div>
            <div class="col">{{ channel.channeltransmissiontype}}</div>
          </div>
          <div class="row">
            <div class="col">Channel Charge Type:</div>
            <div class="col">{{ channel.channelchargetype }}</div>
          </div>
          <div class="row">
            <div class="col">Channel Charge:</div>
            <div class="col">{{ channel.channelcharge }}</div>
          </div>
          <div class="row">
            <div class="col mb-3"> Channel Band:</div>
            <div class="col mb-3">{{ channel.channelband}}</div>
          </div>
          <div class="row">
            <div class="col">
              <div class="text-center">
                <button class="btn btn-danger btn-sm" type="submit" (click)="delete(channel.channelnumber)">Delete</button>
              </div>
            </div>
            <div class="col">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col card shadow-lg p-3 mb-5 bg-white rounded m-3">
    <app-channel-update></app-channel-update>
  </div>
</div>
