<div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <nav class="navbar navbar-light text-center rounded" style=" background-color: rgba(240, 185, 133, 0.753)">
    <a class="navbar-brand mb-0 h1 mx-auto">Welcome Administrator</a>
    <button class="btn btn-danger" type="button">Logout</button>
  </nav>
  <nav class="navbar navbar-light rounded" style="background-color: rgba(240, 185, 133, 0.753)">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminoperatormanagement">Operator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminretailermanagement">Retailer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admindistributormanagement">Distributor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admincustomermanagement">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminsettopboxmanagement">Set-top Box</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminchannelmanagement">Channel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminpackagemanagement">Packages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminvideomanagement">VOD</a>
      </li>
    </ul>
  </nav>
  <div class="card shadow-lg p-2 mb-3 bg-white rounded m-3">
    <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
  </div>
</div>
