<div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <nav class="navbar navbar-light text-center bg-success">
    <a class="navbar-brand mb-0 h1 mx-auto" routerLink="/admindashboard">Welcome Administrator</a>
    <button class="btn btn-danger" type="button">Logout</button>
  </nav>
  <div class="card shadow-lg p-3 mb-5 bg-white rounded m-5">
    <div class="row">
      <div class="col text-center m-0.5">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <nav class="navbar navbar-light text-center" style="background-color: rgba(16, 78, 211, 0.753)">
            <a class="navbar-brand mb-0 h1 mx-auto" routerLink="/adminoperatormanagement">Operator Management</a>
          </nav>
        </div>
      </div>
      <div class="col text-center m-0.5">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <nav class="navbar navbar-light text-center" style="background-color: rgba(16, 78, 211, 0.753)">
            <a class="navbar-brand mb-0 h1 mx-auto" routerLink="/adminretailermanagement">Retailer Management</a>
          </nav>
        </div>
      </div>
      <div class="col text-center m-0.5">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <nav class="navbar navbar-light text-center" style="background-color: rgba(16, 78, 211, 0.753)">
            <a class="navbar-brand mb-0 h1 mx-auto" routerLink="/admindistributormanagement">Distributor Management</a>
          </nav>
        </div>
      </div>
      <div class="col text-center m-0.5">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <nav class="navbar navbar-light text-center" style="background-color: rgba(16, 78, 211, 0.753)">
            <a class="navbar-brand mb-0 h1 mx-auto" routerLink="/admincustomermanagement">Customer Management</a>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center m-0.5">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <nav class="navbar navbar-light text-center" style="background-color: rgba(16, 78, 211, 0.753)">
            <a class="navbar-brand mb-0 h1 mx-auto" routerLink="/admindistributormanagement">Set-top Box Management</a>
          </nav>
        </div>
      </div>
      <div class="col text-center m-0.5">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <nav class="navbar navbar-light text-center" style="background-color: rgba(16, 78, 211, 0.753)">
            <a class="navbar-brand mb-0 h1 mx-auto" routerLink="/admincustomermanagement">Channel Management</a>
          </nav>
        </div>
      </div>
      <div class="col text-center m-0.5">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <nav class="navbar navbar-light text-center" style="background-color: rgba(16, 78, 211, 0.753)">
            <a class="navbar-brand mb-0 h1 mx-auto" routerLink="/admindistributormanagement">Packages Management</a>
          </nav>
        </div>
      </div>
      <div class="col text-center m-0.5">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <nav class="navbar navbar-light text-center" style="background-color: rgba(16, 78, 211, 0.753)">
            <a class="navbar-brand mb-0 h1 mx-auto" routerLink="/admincustomermanagement">VOD Management</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3 mb-5 bg-white rounded m-5">
    <p>admin-dashboard-component</p>
    <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
  </div>
</div>
