<div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <nav class="navbar navbar-light text-center bg-success">
    <a class="navbar-brand mb-0 h1 mx-auto" href="#">Welcome Administrator</a>
    <button class="btn btn-danger" type="button">Logout</button>
  </nav>
  <div class="card shadow-lg p-3 mb-5 bg-white rounded m-5">
    <div class="row">
      <div class="col-5">
        <app-operator-registration></app-operator-registration>
      </div>
      <div class="col-7">
        <app-operator-view></app-operator-view>
      </div>
    </div>
  </div>
</div>
