<div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <div *ngIf="operator == undefined">
    <p>Please wait while operator loads</p>
  </div>
  <div *ngIf="operator != undefined">
    <div *ngIf="flag" class="card shadow-lg p-3 mb-5 bg-white rounded m-5">
      <h5 class="card-header text-center">Operator Details</h5>
      <div class="m-4">
        <div class="row">
          <div class="col card shadow-lg p-3 mb-5 bg-info text-center text-white rounded m-2">
            First Name : {{ operator.firstname | uppercase }}
          </div>
          <div class="col card shadow-lg p-3 mb-5 bg-info text-center text-white rounded m-2">
            Last Name : {{ operator.lastname | uppercase}}
          </div>
          <div class="col card shadow-lg p-3 mb-5 bg-info text-center text-white rounded m-2">
            Email-ID : {{ operator.emailid}}
          </div>
          <div class="col card shadow-lg p-3 mb-5 bg-info text-center text-white rounded m-2">
            Phone Number : {{ operator.phonenumber}}
          </div>
        </div>
        <div class="row">
          <div class="col card shadow-lg p-3 mb-5 bg-info text-center text-white rounded m-2">
            Shift Start Time : {{operator.shiftstarttime}} {{operator.startmeridian | meridian}}
          </div>
          <div class="col card shadow-lg p-3 mb-5 bg-info text-center text-white rounded m-2">
            Shift End Time : {{operator.shiftendtime}} {{operator.endmeridian | meridian}}
          </div>
          <div class="col card shadow-lg p-3 mb-5 bg-info text-center text-white rounded m-2">
            Number of Active Customers : {{operator.totalnumberofactivecustomers}}
          </div>
          <div class="col card shadow-lg p-3 mb-5 bg-info text-center text-white rounded m-2">
            Maximum Number of Customers : {{operator.maximumnumberofcustomers}}
          </div>
        </div>
        <div class="row">
          <div class="col">
          </div>
          <div class="col">
            <div class="text-center">
              <button class="btn btn-warning" type="submit" (click)="update(operator)">Update</button>
            </div>
          </div>
          <div class="col">
            <div class="text-center">
              <button class="btn btn-danger" type="submit" (click)="delete(operator.operatorID)">Delete</button>
            </div>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!flag">
      <app-operator-update></app-operator-update>
    </div>
  </div>
</div>
