<div class="card shadow-lg p-2 mb-3 bg-white rounded">
  <h5 class="card-header text-center">Customer List</h5>
  <div class="card-body">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="input-group input-group mb-3">
          <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Enter text to search" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" (click)="reset()">
              Reset
            </button>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>

    <table class="table" *ngIf="customerList.length > 0">
      <thead>
        <tr>
          <th>#</th>
          <th (click)="sort('firstname')">
            First Name
            <span *ngIf="key === 'firstname'">
              <p class="fas fa-sort"></p>
            </span>
          </th>
          <th (click)="sort('lastname')">
            Last Name
            <span *ngIf="key == 'lastname'">
              <p class="fas fa-sort"></p>
            </span>
          </th>
          <th (click)="sort('phonenumber')">
            Phone Number<span *ngIf="key == 'phonenumber'">
              <p class="fas fa-sort"></p>
            </span>
          </th>
          <th (click)="sort('mailid')">
            Mail ID<span *ngIf="key == 'mailid'">
              <p class="fas fa-sort"></p>
            </span>
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
              let customer of (customerList
                | orderBy: key:reverse
                | filter: filter
                | paginate
                  : { id: 'customerList', itemsPerPage: 5, currentPage: p });
              index as i
            ">
          <td>{{ itemsPerPage * (p - 1) + i + 1 }}</td>
          <td>{{ customer.firstname }}</td>
          <td>{{ customer.lastname }}</td>
          <td>{{ customer.phonenumber }}</td>
          <td>{{ customer.emailid }}</td>
          <td>
            <a routerLink="/customerdetailedview/{{customer.customerid}}"><button class="btn btn-primary btn-sm">View
                Details</button></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pull-right">
      <pagination-controls id="customerList" (pageChange)="p = $event" maxSize="3" directionLinks="false" autoHide="true"
        responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
    <span *ngIf="customerList.length == 0">There are no Customers present in Database. Please Use the registration
      form to create customers</span>
  </div>
</div>
<router-outlet></router-outlet>
