<div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <h5 class="card-header text-center">Operator Registration Form</h5>
  <div class="card-body">
    <form [formGroup]=" operatorUpdationForm" class="form-group">

      <!-- ============================================================================================================ -->


      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span style="width: 125px" class="input-group-text">FIRST NAME</span>
        </div>
        <input class="form-control" type="text" formControlName="firstname" required>
        <div class="input-group-append" *ngIf="(this. operatorUpdationForm.get('firstname').dirty || this. operatorUpdationForm.get('firstname').touched ) && this. operatorUpdationForm.get('firstname').hasError('required')">
          <span style="width: 225px" class="input-group-text alert-danger">Please Enter firstname</span>
        </div>
      </div>

      <!-- ============================================================================================================ -->

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span style="width: 125px" class="input-group-text">LAST NAME</span>
        </div>
        <input class="form-control" type="text" formControlName="lastname" required>
        <div class="input-group-append" *ngIf="(this. operatorUpdationForm.get('lastname').dirty || this. operatorUpdationForm.get('lastname').touched ) && this. operatorUpdationForm.get('lastname').hasError('required')">
          <span style="width: 225px" class="input-group-text alert-danger">Please Enter lastname</span>
        </div>
      </div>

      <!-- ============================================================================================================ -->

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span style="width: 125px" class="input-group-text">EMAIL ID</span>
        </div>
        <input class="form-control" type="text" formControlName="emailid" required>
        <div class="input-group-append" *ngIf="(this. operatorUpdationForm.get('emailid').dirty || this. operatorUpdationForm.get('emailid').touched ) && this. operatorUpdationForm.get('emailid').hasError('required')">
          <span style="width: 225px" class="input-group-text alert-danger">Please Enter emailid</span>
        </div>
        <div class="input-group-append" *ngIf="!this. operatorUpdationForm.get('emailid').hasError('required') && this. operatorUpdationForm.get('emailid').hasError('invalidEmailID')">
          <span style="width: 225px" class="input-group-text alert-danger">Please Enter Valid Email-ID</span>
        </div>
      </div>

      <!-- ============================================================================================================ -->

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span style="width: 125px" class="input-group-text">PHONE NUMBER</span>
        </div>
        <input class="form-control" type="text" formControlName="phonenumber" required>
        <div class="input-group-append" *ngIf="(this. operatorUpdationForm.get('phonenumber').dirty || this. operatorUpdationForm.get('phonenumber').touched ) && this. operatorUpdationForm.get('phonenumber').hasError('required')">
          <span style="width: 225px" class="input-group-text alert-danger">Please Enter phonenumber</span>
        </div>
        <div class="input-group-append" *ngIf="!this. operatorUpdationForm.get('phonenumber').hasError('required') && this. operatorUpdationForm.get('phonenumber').hasError('invalidPhoneNumber')">
          <span style="width: 225px" class="input-group-text alert-danger">Please Enter valid Mobile Number</span>
        </div>
      </div>

      <!-- ============================================================================================================ -->

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span style="width: 125px" class="input-group-text">SHIFT START TIME</span>
        </div>
        <input class="form-control" type="text" formControlName="shiftstarttime" required>
        <div class="input-group-append">
          <select style="width: 100px" class="input-group-text" formControlName="startmeridian" (blur)="shiftEndTimeCalculator()">
            <option value=0>A.M.</option>
            <option value=12>P.M.</option>
          </select>
        </div>
        <div class="input-group-append" *ngIf="(this. operatorUpdationForm.get('shiftstarttime').dirty || this. operatorUpdationForm.get('shiftstarttime').touched ) && this. operatorUpdationForm.get('shiftstarttime').hasError('required')">
          <span style="width: 225px" class="input-group-text alert-danger">Please Enter shiftstarttime</span>
        </div>
        <div class="input-group-append" *ngIf="!this. operatorUpdationForm.get('shiftstarttime').hasError('required') && this. operatorUpdationForm.get('shiftstarttime').hasError('invalidShiftTime')">
          <span style="width: 225px" class="input-group-text alert-danger">Please Enter valid Shift Time</span>
        </div>
      </div>

      <!-- ============================================================================================================ -->

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span style="width: 125px" class="input-group-text">SHIFT END TIME</span>
        </div>
        <input class="form-control" type="text" formControlName="shiftendtime" readonly>
        <div class="input-group-append">
          <select style="width: 100px" class="input-group-text" formControlName="endmeridian" readonly>
            <option value="0">A.M.</option>
            <option value="12">P.M.</option>
          </select>
        </div>
      </div>

      <!-- ============================================================================================================ -->

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span style="width: 175px" class="input-group-text">MAX NO OF CUSTOMERS</span>
        </div>
        <input class="form-control" type="text" formControlName="maximumnumberofcustomers" required>
        <div class="input-group-append" *ngIf="(this. operatorUpdationForm.get('maximumnumberofcustomers').dirty || this. operatorUpdationForm.get('maximumnumberofcustomers').touched ) && this. operatorUpdationForm.get('maximumnumberofcustomers').hasError('required')">
          <span style="width: 225px" class="input-group-text alert-danger">Please Enter Max No of Customers</span>
        </div>
      </div>

      <!-- ============================================================================================================ -->

      <div class="text-center">
        <button class="btn btn-outline-primary" type="submit" [disabled]="!this.operatorUpdationForm.valid" (click)="updateoperator(operator)">Update</button>
      </div>
    </form>
  </div>
</div>
