<div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <h5 class="card-header text-center">Retailer List</h5>
  <div class="card-body">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="input-group input-group mb-3">
          <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Enter text to search" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" (click)="reset()">
              Reset
            </button>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>

    <table class="table" *ngIf="retailerList.length > 0">
      <thead>
        <tr>
          <th>#</th>
          <th (click)="sort('name')">
            Name
            <span *ngIf="key === 'name'">
              <p class="fas fa-sort"></p>
            </span>
          </th>
          <th (click)="sort('phonenumber1')">
            Phone Number 1
            <span *ngIf="key == 'phonenumber1'">
              <p class="fas fa-sort"></p>
            </span>
          </th>
          <th (click)="sort('phonenumber2')">
            Phone Number 2<span *ngIf="key == 'phonenumber2'">
              <p class="fas fa-sort"></p>
            </span>
          </th>
          <th (click)="sort('totalcostofinventory')">
            Total Cost of Inventory<span *ngIf="key == 'totalcostofinventory'">
              <p class="fas fa-sort"></p>
            </span>
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
                let retailer of (retailerList
                  | orderBy: key:reverse
                  | filter: filter
                  | paginate
                    : { id: 'retailerList', itemsPerPage: 5, currentPage: p });
                index as i
              ">
          <td>{{ itemsPerPage * (p - 1) + i + 1 }}</td>
          <td>{{ retailer.name }}</td>
          <td>{{ retailer.phonenumber1 }}</td>
          <td>{{ retailer.phonenumber2 }}</td>
          <td>{{ retailer.totalcostofinventory }}</td>
          <td>
            <a routerLink="/retailerdetailedview/{{retailer.retailerid}}"><button class="btn btn-primary btn-sm">View
                Details</button></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pull-right">
      <pagination-controls id="retailerList" (pageChange)="p = $event" maxSize="3" directionLinks="false" autoHide="true"
        responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
    <span *ngIf="retailerList.length == 0">There are no Retailers present in Database. Please Use the registration
      form to create retailers</span>
  </div>
</div>
<router-outlet></router-outlet>
