<nav class="navbar navbar-light rounded" style="background-color: rgba(240, 185, 133, 0.753)">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/adminoperatormanagement"><i class="fas fa-home fa-lg"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/operatorregister">Register Operator</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/operatorlist">View Operators</a>
    </li>
  </ul>
</nav>
<div *ngIf="!flag" class="p-3 mb-5 bg-white rounded m-5">
  <span>The Admin can create Operators for the system, who can in turn register
    Customers and Retailers as well and perform various activities on their
    behalf. Capture following details for Operator registration. Admin should
    be able to search, update or delete created Operators</span>
</div>
<div class="p-2 mb-3 bg-white rounded m-3">
  <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
</div>
