<div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <nav class="navbar sticky-top navbar-light text-center bg-success">
    <a class="navbar-brand mb-0 h1 mx-auto" href="#">Welcome Administrator</a>
    <button class="btn btn-danger" type="button">Logout</button>
  </nav>
  <div class="card shadow-lg p-3 mb-5 bg-white rounded m-5">
    <div class="row">
      <div class="col text-center m-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <nav class="navbar sticky-top navbar-light text-center bg-warning">
            <a class="navbar-brand mb-0 h1 mx-auto" href="#">Operator Management</a>
          </nav>
        </div>
      </div>
      <div class="col text-center m-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <nav class="navbar sticky-top navbar-light text-center bg-warning">
            <a class="navbar-brand mb-0 h1 mx-auto" href="#">Retailer Management</a>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center m-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <nav class="navbar sticky-top navbar-light text-center bg-warning">
            <a class="navbar-brand mb-0 h1 mx-auto" href="#">Distributor Management</a>
          </nav>
        </div>
      </div>
      <div class="col text-center m-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <nav class="navbar sticky-top navbar-light text-center bg-warning">
            <a class="navbar-brand mb-0 h1 mx-auto" href="#">Customer Management</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
